/********************* toast list******************************/
.custom_toaster_wraper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9;
}

.custom_toaster {
    animation: toaster 1s;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .1);
    border-radius: 4px;
    display: inline-flex;
    padding: 5px 5px 5px 10px;
    position: relative;
    margin-bottom: 10px;
    min-width: 180px;
    justify-content: space-between;
}

.custom_toaster .custom_toaster_border {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 4px 0 0 4px;
    top: 0;
}

.custom_toaster_content {
    display: flex;
    margin-right: 10px;
}

.custom_toaster_content p {
    font-weight: 500;
    font-size: 12px;
    margin-left: 4px;
}

.custom_toaster_close img {
    max-width: 8px;
    margin-right: 5px;
}

.custom_toaster .toasterImg {
    max-width: 18px;
    margin-right: 5px;
}

.toast-error .custom_toaster_border {
    background: #EB3741;
}

.toast-warning .custom_toaster_border {
    background: #FF5630;
}

.toast-info .custom_toaster_border {
    background: #2D76E3;
}

.toast-success .custom_toaster_border {
    background: #14DD59;
}

.toast-error .custom_toaster_content p {
    color: #EB3741;
}

.toast-warning .custom_toaster_content p {
    color: #FF5630;
}

.toast-info .custom_toaster_content p {
    color: #2D76E3;
}

.toast-success .custom_toaster_content p {
    color: #14DD59;
}

@keyframes toaster {
    from {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@media (max-width: 767px) {

    .grid-left-container,
    .grid-right-container {
        min-height: max-content;
        padding-bottom: 1rem;
    }

    .prefill-wrapper {
        background: white;
        display: block;
        margin: 15px;
        width: calc(100% - 30px);
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .grid-left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 10px;
    }

    .form-group-border {
        max-width: 100%;
        ;
    }

    .title {
        font-size: 15px;
    }

    .left {
        color: white;
    }

    .left .customSelectContainer,
    .left .customSelectInput,
    .left .customSelectPlaceholder,
    .left .customSelectSingleValue {
        color: #000 !important;
        font-size: 12px;
        padding-left: .125rem;
    }

    .left {
        color: #000;
    }

    .grid-left .form-group-border {
        background-color: #fff;
        border: 1px solid #e7e7e7;
        color: #253858;
    }

    .grid-left .label {
        background-color: #fff;
    }

    .toggle-wrapper {
        margin-top: 12px;
    }

    .title {
        color: #253858;
    }

    .border-btm {
        background-color: #003C95;
    }

    .custom_toaster_wraper {
        position: fixed;
        top: 10px;
    }
}
